h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 20px;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    outline: none;
    background-color: lightgrey;
}
button{
    font-size: 20px;
    background-color: crimson;
    width: 45px;
    height: 35px;
    outline: none;
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px black; */
}
.calculator{
    display: inline-block;
    background-color:ghostwhite;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px ;
}